/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* BASICS */
:root {
    --white: #FFFFFF;
    --primary-500: #6729FF;
    --primary-200: #EEE5FF;
    --primary-100: #F3F2FF;
    --slate-600: #475569;
    --slate-500: #64748B;
    --slate-400: #94A3B8;
    --slate-200: #E2E8F0;
    --slate-50: #F8FAFC;
}

body {
    background-color: var(--white);
    color: var(--slate-400);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

a:link, a:visited {
    color: inherit;
}

a:hover, a:active {
    color: var(--primary-500);
    transition: 0.3s;
}

img {
    display: flex;
    width: 100%;
}

/* TOP HEADER */
body > header {
    position: sticky;
}

body > header hr {
    border: 1px solid var(--slate-200);
}

body > header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 36px;
    line-height: 36px;
    margin: 20px 64px 12px 64px;
}

body > header ul li {
    float: inline-start;
    height: inherit;
    line-height: inherit;
    padding: 0px 16px;
}

.navbar__logo {
    color: var(--primary-500);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: bold;
}

.navbar__user button {
    border: transparent;
    background-color: var(--primary-500);
    border-radius: 7px;
    color: var(--white);
    font-family: inherit;
    font-size: inherit;
    height: 36px; 
    width: 144px;
}

.navbar__user button:hover {
    background-color: var(--slate-400);
    color: var(--primary-500);
}

/* MAIN */


/* FOOTER */
