
/* FOOTER */

footer {
    background-color: var(--white);
    
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    width: 100vw;
}

.foot__content__container {
    padding: 1rem 0;
    margin: 0 6rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: stretch;
    gap: 8rem;
}

.foot__content__table {
    border-style: border-box;
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: stretch;
    max-width: 70%;
    gap: 6rem;

}

.foot__content__column--last {
    padding-top: 1rem;
}

.foot__content__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: fit-content;
    line-height: 2.5rem;
}

.foot__content__title {
    color: var(--slate-500);
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
}

.foot__content__subscribe {
    width: 38wv;
}

.foot__smalltext {
    font-size: 0.75rem;
}

#foot-content-text {
    max-width: 32vh;
    padding-bottom: 0.5rem;
}

.foot__content__form {
    display: flex;
    flex-direction: row;    
    border: 1px solid var(--slate-200);
    border-radius: 7px;
    font-size: 0.8rem;
    padding-inline-start: 0.5rem;
    height: 2rem;
    width: 18rem;
}

.foot__content__form > input[type="email"] {
    border: none;
    font-size: 0.8rem;

}

#btn-newsletter {
    background-color: var(--primary-500);
    height: 1.5rem;
    width: 1.5rem;
    
}

.foot__content__buttons {
    display:flex;
    flex-direction: row;
    margin-right: 2rem;
}

.foot__bar {
    border-top: 1px solid var(--slate-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    max-width: 100%;
}

#foot-logo {
    color: var(--primary-500);
    cursor: default;
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

#foot-terms {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}